.clients {
    @include SectionPadding(60px);
}

.clients__title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.clients__card {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    @include SectionPadding(16px);
    border: 1px solid $clientsMainColor;
    border-radius: 4px;
    transition: border-color .2s ease-in-out;

    &:hover {
        border-color: getColor('main');
    }

    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 30px*2) / 3);
    }
    
    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 30px*5) / 6);
    }
}

// .clients__link {
//     display: block;
//     width: fit-content;
//     height: fit-content;
// }

.clients__icon {
    fill: $clientsMainColor;
    transition: fill .2s ease-in-out;

    .clients__card:hover & {
        fill: getColor('main');
    }
}